<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moderator Tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="logo-container">
            <img width="120px;" height="120px;" src="~/Content/ic_launcher.png" />
            <span class="logo">Moderator Tool</span>
        </div>
    </header>
    <nav class="menu-bar">
        <ul>
            <li style="margin-left:50px;"><a href="/Moderator/IncomingMarks">Incoming marks</a></li>
            <li><a href="/Moderator/AllMarks">All marks</a></li>
            <li><a href="/Moderator/NewEmail">Write an email</a></li>
            <li style="position:absolute; right: 20px"><a href="/Moderator/Index">Home</a></li>
        </ul>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div class="credits">
            <div style="padding-top: 20px;">Developed By <u>Maksym Kuzmych</u> - Road Conditions Moderator Tool © 2020</div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
